	:root {
		--white-bg-color: #fff;
		--white-text-color: #000;
		--dark-bg-color: #000;
		--dark-text-color: #fff;
		--dark-h-border: #232323;
		--dark-table-border: #36383b;
		--link-color: #1b94e0;
	}
	.color-change{
		text-align: center;
		padding:1rem 0;
	}
	[type="radio"]{
		position: fixed;
		left: -9999px;
		}
	label{
		display: inline-block;
		cursor: pointer;
		width:2rem;
		height:2rem;
		border-radius: 50%;
		border: 1px solid var(--link-color);
		}
	label[for="white"]{background:#eee; margin-right:1rem;}
	label[for="dark"]{background:#434343;}
	a, a:link, a:hover, a:active{
		color:var(--link-color);
		}
	body{
		transition: all 0.3s ease-in-out;
		}
	/* ホワイトスイッチ */
	body:has([id="white"]:checked) {
		color: var(--white-text-color);
		background: var(--white-bg-color);
		}
	body:has([id="white"]:checked) .grass-graph{
		filter: none;
		}
	body:has([id="white"]:checked) [for="white"]::before {
		background: var(--white-text-color);
		}
	/* ダークスイッチ */
	body:has([id="dark"]:checked) {
		color: var(--dark-text-color);
		background: var(--dark-bg-color);
		}
	body:has([id="dark"]:checked) h1,
	body:has([id="dark"]:checked) h2{
		border-bottom-color: var(--dark-h-border);
		}
	body:has([id="dark"]:checked) hr{
		background-color: var(--dark-table-border);
		}
	body:has([id="dark"]:checked) table th,
	body:has([id="dark"]:checked) table td{
		border:1px solid var(--dark-table-border);
		}
	body:has([id="dark"]:checked) table tr{
		background-color: var(--dark-bg-color);
		bprder-top: 1px solid var(--dark-table-border); 
		}
	body:has([id="dark"]:checked) .grass-graph{
		filter: invert();
		}
	body:has([id="dark"]:checked) [for="dark"]:before {
		background: var(--dark-text-color);
		}
	/* ダークモード */
	@media (prefers-color-scheme: dark) {
		body:has([id="dark"]:not(:checked)){
			color: var(--dark-text-color);
			background: var(--dark-bg-color);
		}
		body:has([id="dark"]:not(:checked)) h1,
		body:has([id="dark"]:not(:checked)) h2{
			border-bottom-color: var(--dark-h-border);
			}
		body:has([id="dark"]:not(:checked)) hr{
			background-color: var(--dark-table-border);
			}
		body:has([id="dark"]:not(:checked)) table th,
		body:has([id="dark"]:not(:checked)) table td{
			border:1px solid var(--dark-table-border);
			}
		body:has([id="dark"]:not(:checked)) table tr{
			background-color: var(--dark-bg-color);
			bprder-top: 1px solid var(--dark-table-border); 
			}
		body:has([id="dark"]:not(:checked)) .grass-graph{
			filter: invert();
			}
		body:has([id="dark"]:not(:checked)) [for="dark"]:before {
			background: var(--dark-text-color);
			}
	}